#chrome-bar__wrapper {
  position: fixed;
  z-index: 99999999999999;
  width: 300px;
  top: auto;
  bottom: 30px;
  right: 30px;
  border-radius: 10px;
}

.chrome-bar__theme--light#chrome-bar__wrapper::-webkit-scrollbar-track, .chrome-bar__theme--light#chrome-bar__wrapper *::-webkit-scrollbar-track {
  background: rgba(236, 236, 236, 0.9);
}

.chrome-bar__theme--dark#chrome-bar__wrapper::-webkit-scrollbar-track, .chrome-bar__theme--dark#chrome-bar__wrapper *::-webkit-scrollbar-track {
  background: rgba(18, 18, 18, 0.8);
}

.chrome-bar__theme--light#chrome-bar__wrapper {
  background-color: rgba(236, 236, 236, 0.9);
  box-shadow: 0px 35px 50px -15px #000000a3;
  border: 1px solid #e1e0e0;
}

.chrome-bar__theme--dark#chrome-bar__wrapper {
  background-color: rgba(18, 18, 18, 0.8);
  box-shadow: 0px 35px 50px -15px #000000a3;
  border: 1px solid rgba(57, 57, 57, 0.9);
}

.chrome-bar__theme--light *{
  color: rgba(51, 51, 51, 0.8);
}

.chrome-bar__theme--dark *{
  color: rgba(255, 255, 255, 0.8);
}

#chrome-bar__search > input {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 3px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  font-weight: 300;
  overflow: hidden;
  outline: none !important;

  /* computed */
  box-sizing: border-box;
  cursor: text;
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  letter-spacing: normal;
  line-height: 42.8571px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#chrome-bar__result {
  list-style: none;
  padding: 10px;
  margin: 0;
  right: 0;
  border-top: 1px gray solid;
  border-bottom-left-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.chrome-bar__theme--light #chrome-bar__result {
  border-top: 1px gray solid;
}

.chrome-bar__theme--dark #chrome-bar__result {
  border-top: 1px solid rgba(57, 57, 57, 1);
}

#chrome-bar__result li {
  list-style: none;
  margin: 0;
}

#chrome-bar__result li label {
  padding: 5px;
  display: block;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  border-radius: 5px;

  /* computed */
  box-sizing: border-box;
  cursor: default;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  height: 28px;
  line-height: 18.5714px;
  list-style-type: none;
  margin-bottom: 5px;
  text-align: left;
  text-size-adjust: 100%;
}

#chrome-bar__result li label span {
  opacity: 0.5;
  padding: 0 5px;
}

.chrome-bar__theme--light #chrome-bar__result li > label:hover,
.chrome-bar__theme--light input[id^="chrome-bar__choice__"]:checked + label {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(51, 51, 51, 0.1);
}

.chrome-bar__theme--dark #chrome-bar__result li > label:hover,
.chrome-bar__theme--dark input[id^="chrome-bar__choice__"]:checked + label {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.05);
}

input[id^="chrome-bar__choice__"],
input[id^="chrome-bar__"] + label:before,
input[id^="chrome-bar__"] + label:after {
  display: none !important;
}

.chrome-bar__message {
  font-size: 10px;
  font-weight: 200;
}

.helper_selected_anchor {
  text-decoration: underline !important;
}