#chrome-bar__wrapper {
  position: fixed !important;
  z-index: 99999999999999 !important;
  width: 300px !important;
  top: auto !important;
  bottom: 0px !important;
  right: 0px !important;
  border-top-left-radius: 10px !important;
}

#chrome-bar__wrapper,
#chrome-bar__wrapper *:not(input) {
  user-select: none !important;
}

.chrome-bar__theme--light#chrome-bar__wrapper::-webkit-scrollbar-track,
.chrome-bar__theme--light#chrome-bar__wrapper *::-webkit-scrollbar-track {
  background: rgba(236, 236, 236, 0.9) !important;
}

.chrome-bar__theme--dark#chrome-bar__wrapper::-webkit-scrollbar-track,
.chrome-bar__theme--dark#chrome-bar__wrapper *::-webkit-scrollbar-track {
  background: rgba(18, 18, 18, 0.8) !important;
}

.chrome-bar__theme--light#chrome-bar__wrapper {
  background-color: rgba(236, 236, 236, 0.9) !important;
  box-shadow: 0px 35px 50px -15px #000000a3 !important;
  border: 1px solid #e1e0e0 !important;
}

.chrome-bar__theme--dark#chrome-bar__wrapper {
  background-color: rgba(18, 18, 18, 0.8) !important;
  box-shadow: 0px 35px 50px -15px #000000a3 !important;
  border: 1px solid rgba(57, 57, 57, 0.9) !important;
}

.chrome-bar__theme--light * {
  color: rgba(51, 51, 51, 0.8) !important;
}

.chrome-bar__theme--dark * {
  color: rgba(255, 255, 255, 0.8) !important;
}

#chrome-bar__search > input {
  width: calc(100% - 20px) !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding-bottom: 3px !important;
  font-size: 18px !important;
  background-color: transparent !important;
  border: none !important;
  font-weight: 300 !important;
  overflow: hidden !important;
  outline: none !important;

  /* computed */
  box-sizing: border-box !important;
  cursor: text !important;
  display: inline-block !important;
  font-family: sans-serif !important;
  font-stretch: 100% !important;
  font-style: normal !important;
  font-variant-caps: normal !important;
  font-variant-east-asian: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-numeric: normal !important;
  letter-spacing: normal !important;
  line-height: 42.8571px !important;
  padding-right: 1px !important;
  padding-top: 1px !important;
  text-align: start !important;
  text-indent: 0px !important;
  text-rendering: auto !important;
  text-shadow: none !important;
  text-size-adjust: 100% !important;
  text-transform: none !important;
  word-spacing: 0px !important;
  writing-mode: horizontal-tb !important;
  -webkit-rtl-ordering: logical !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

#chrome-bar__result {
  list-style: none !important;
  padding: 10px !important;
  margin: 0 !important;
  right: 0 !important;
  border-top: 1px gray solid !important;
  border-bottom-left-radius: 10px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.chrome-bar__theme--light #chrome-bar__result {
  border-top: 1px gray solid !important;
}

.chrome-bar__theme--dark #chrome-bar__result {
  border-top: 1px solid rgba(57, 57, 57, 1) !important;
}

#chrome-bar__result li {
  list-style: none !important;
  margin: 0 !important;
}

#chrome-bar__result li label {
  padding: 5px !important;
  display: block !important;
  font-size: 13px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  width: 100% !important;
  border-radius: 5px !important;

  /* computed */
  box-sizing: border-box !important;
  cursor: default !important;
  font-family: sans-serif !important;
  font-weight: 700 !important;
  height: 28px !important;
  line-height: 18.5714px !important;
  list-style-type: none !important;
  margin-bottom: 5px !important;
  text-align: left !important;
  text-size-adjust: 100% !important;
}

#chrome-bar__result li label span {
  opacity: 0.5 !important;
  padding: 0 5px !important;
}

.chrome-bar__theme--light #chrome-bar__result li > label:hover,
.chrome-bar__theme--light input[id^="chrome-bar__choice__"]:checked + label {
  color: rgba(51, 51, 51, 1) !important;
  background-color: rgba(51, 51, 51, 0.1) !important;
}

.chrome-bar__theme--dark #chrome-bar__result li > label:hover,
.chrome-bar__theme--dark input[id^="chrome-bar__choice__"]:checked + label {
  color: rgba(255, 255, 255, 1) !important;
  background-color: rgba(255, 255, 255, 0.05) !important;
}

input[id^="chrome-bar__choice__"],
input[id^="chrome-bar__"] + label:before,
input[id^="chrome-bar__"] + label:after {
  display: none !important;
}

.chrome-bar__message {
  font-size: 10px !important;
  font-weight: 200 !important;
}

.helper_selected_anchor {
  text-decoration: underline !important;
}
